*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container{
    width: 100%;
    min-height: 300px;
    margin: auto;
}
.container h2{
    font-size: 2.1em;
    color:#0a3d62;
}
.header{
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    color: #000;
}

/* backgroud img code */
.header img{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;   
    /* object-fit: fill; */
    z-index: -1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.navbar h1{
    color:#0a3d62;
}

/* nav menu code  */
.navbar ul{
    list-style: none;
    padding: 20px;
    gap: 20px;

    display: flex;
    flex-direction: row;
}
.navbar a{
    text-decoration: none;
    color: #0a3d62;
    font-weight: bold;
}

/* nav text area code  */
.text{
    max-width: 600px;
    padding: 80px 60px;
}
.text h2{
    margin-bottom: 15px;
}
.text p{
    line-height: 1.8;
    font-size: 18px;
}

/* code of section */
.sec{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    margin-top: -100px;
}
.card{
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    padding: 20px;

    box-shadow: 0 10px 16px rgba(0,0,0,0.2);

    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.card-img{
    overflow: hidden;          
    border-radius: 10px;
}

.card-img img{
    width: 100%;
    height: 280px;
    object-fit: fill;
    border-radius: 8px;
    transition: transform 0.4s ease;
}
.card-text h3 {
    margin: 15px 0 10px;
    color: #0a3d62;
}

.card-text p {
    padding: 0 15px 20px;
    font-size: 14px;
    color: #555;
}

/* section animations  */
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 18px 30px rgba(0,0,0,0.3);
}

.card:hover .card-img img{
    transform: scale(1.1);
}



/* code for services-class */
#cs{
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    background-color: #ccc;
    margin-bottom: -5px;
}

.services-class{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    margin-top: 1px;
}

/* code for Support-class */
#Support{
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;   
}
#Support h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.1em;
    color: #0a3d62;
}
.support-sec{
    background: #fff;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.support-sec h3{
    margin-bottom: 15px;
    color: #222;
}
.support-sec p{
    margin: 8px;
    color: #555;
}
.support-sec form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.support-sec input,textarea,select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

    font-size: 15px;
    outline: none;
}

.support-sec button{
    background: #007bff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Code for news */
#news{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}
#news h2{
    text-align: center;
    color: #0a3d62;
    font-size: 2.1em;
    font-weight: bold;
}
.news-1{
    display: flex;
    padding: 10px;  
}
.news-2{
    display: flex;
    padding: 10px;
}

.news-cont{
    width: 100%;
    background-color:#fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: calc(250px * 8);

}
/* image code part */
.news-img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;          
    border-radius: 10px;
}
.news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: px solid #000;
    border-radius: 10px;
}

/* text area  */
.news-text{
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.news-text h3 {
    margin: 15px 0 10px;
    color: #0a3d62;
}

.news-text p {
    padding: 0 15px 20px;
    font-size: 16px;
    color: #555;
}

/* code for about */
.about{
    padding: 60px 40px;
    text-align: center;
}
.about h2{
    color: #0a3d62;
    margin-bottom: 20px;
    font-size: 2.0em;
    padding: 10px;
}
.about p{
    font-size: 18px;
}
.about-cont{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.about-box{
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    line-height: 1.4;
}
.about-box h3{
    font-size: 1.6em;
    color: #0a3d62;
    padding: 12px;
}
.about-box ul{
    list-style: none;
    font-size: 18px;
}


/* code of footer  */
footer {
    width: 100%;
    height: 180px;
    background: #0a3d62;
    color: white;
    text-align: center;
    padding: 15px;
}

footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
}

.social a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;

    transition: transform 0.3s linear;
}

/* logo animations  */
.social a:hover{
    transform: scale(1.2);
    background: white;
    color: #0a3d62;
}
/* text area code */
.footer-text p{
    font-size: 16px;
    line-height: 1.6;
}


/* code of media */
@media (max-width: 768px){
    /* code for support page */
    #support{
        padding: 20px 10px;
    }
    #support h2{
        font-size: 26px;
        text-align: center;
    }
}

/* media for tablet or tab */
@media screen and (max-width: 992px){

    .navbar{
        padding: 20px 30px;
    }
    .text{
        padding: 60px 40px;
    }
    .text h2{
        font-size: 32px;
    }

    /* code for Service */
    .sec,
    .services-class{
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec .card,
    .services-class .card{
        width: calc(50% - 20px); 
    }

    /* code for news */
    .news-1,
    .news-2{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .news-cont{
        width: calc(50% - 20px);
    }

    /* code for about */
     .about{
        padding: 50px 25px;
    }
    .about-content{
        flex-wrap: wrap;
    }
    .about-box{
        width: 45%;
    }
    .about-desc{
        font-size: 17px;
    }
    
}

/* media for phone */
@media screen and (max-width: 767px) {

    /* Header */
    .header{
        height: auto;
        padding: 20px 15px 40px;
        margin-bottom: 10px;
    }
    .navbar{
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        width: 100%;
    }
    .navbar ul li{
        display: flex;
        flex-direction: column;
    }
    .text{
        padding: 30px 15px;
        text-align: center;
    }
    .text h2{
        font-size: 24px;
    }
    .text p{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    /* Services */
    .sec,
    .services-class{
        flex-direction: column;
        align-items: center;
        padding: 20px 15px;
        width: 100%;
    }

    .sec .card,
    .services-class .card{
        width: 100%;
        max-width: 400px;
    }

    /* News */
    .news-1,
    .news-2{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-right: 17px;
    }

    .news-cont{
        width: 100%;
    }

    /* About */
    .about{
        padding: 30px 15px;
    }

    .about h2{
        font-size: 24px;
        text-align: center;
    }

    .about-desc{
        font-size: 15px;
        line-height: 1.6;
        text-align: center;
    }

    .about-cont{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about-box{
        width: 100%;
        max-width: 400px;
    }

    /* Footer */
    footer{
        width: 100%;
        padding: 20px 15px;
        text-align: center;
    }
}
